# Импорт

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
!gdown --id 1OPngxMvLVx7krUuLR6YX9TXz0iILah6W
df = pd.read_csv('./report.csv')
df

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1OPngxMvLVx7krUuLR6YX9TXz0iILah6W
To: /content/report.csv
100% 264k/264k [00:00<00:00, 43.4MB/s]

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,2015,OK07205,"Tulsa, OK",401520.0,3628.0,55.0,365.0,2354.0,854.0,NaN,903.57,13.70,90.90,586.27,212.69
2825,2015,VA12800,"Virginia Beach, VA",452797.0,626.0,19.0,103.0,234.0,270.0,NaN,138.25,4.20,22.75,51.68,59.63
2826,2015,DCMPD00,"Washington, DC",672228.0,8084.0,162.0,494.0,4024.0,3404.0,NaN,1202.57,24.10,73.49,598.61,506.38
2827,2015,KS08703,"Wichita, KS",389824.0,3839.0,27.0,349.0,2730.0,733.0,NaN,984.80,6.93,89.53,700.32,188.03
2828,2015,NaN,United States,NaN,1197704.0,15696.0,NaN,NaN,NaN,NaN,372.60,4.90,NaN,NaN,NaN

# Чистка данных

Уберите ячейки с nan. В таблице это строчки с "подведением итогов" каждого года и неполная информация за 2015 год

Также в колонках "per capita" значения оказались домноженными на 10^5, так что это тоже следует исправить

# Обзор данных

Посмотрите на статистики по датасету

In [1]:
# Your code here

Такое описание данных выглядит неинформативно. Для многих столбцов оно вообще не имеет смысла. Более интересно посмотреть статистику, сгруппированную по годам/местам.

In [2]:
# Your code here

In [3]:
# Your code here

Сделайте вывод от тендециях и запишите тут ваш инсайд

# Более детальный анализ

## Изменение уровня преступности по годам

Сперва, мне захотелось посмотреть на то как изменяются частоты различных преступлений. Ожидания - графики частот всех видов преступлений по времени будут иметь примерно одинаковые пики/падения.
Возьмём таблицу количеств происшествий по годам и перезапишем столбцы происшествий на душу населения.

In [4]:
# Your code here

Теперь мы получили таблицу, в которой число преступлений на душу населения за год расчитано правильно. Посмотрим на графики частот различных преступлений.

In [5]:
# Your code here

In [6]:
# Your code here

Сделайте вывод о скачках преступности за всее время. Есть ли для всех видов схожие пики? С чем можно связать в экономическом смысле?

## Зависимость уровня преступности от численности населения территориальных субъектов

Если мы предполагаем, что преступления встречаются с примерно одинаковой частотой, то ожидаем увидеть линейную зависимость количества преступлений от населенности города.

Сперва я предлагаю посмотреть, как тенденция из предыдущего графика выполняется для городов с наибольшим и наименьшим числом жителей.

In [7]:
# Your code here

Взглянув на таблицу, сделайте вывод о данных.

Получите сводную таблицу частот преступлений в различных городах. Посмотрите на их изменение в самом крупном/мелком городе, в городах с наибольшей наименьшей преступностью.

In [8]:
# Your code here

Постройте графики

In [9]:
# Your code here

Можно ли сказать, что наименьшие по размеру/уровню преступности города обходят общие тренды?

Но вернемся к проверке линейной зависимости. Будем рассматривать зависимость числа всех преступлений от размера населения городов.

In [10]:
# Your code here

In [11]:
# Your code here

Воспользуйте regplot из пакета Seaborn

In [12]:
# Your code here

In [13]:
# Your code here

Посчитайте корреляцию пирсона

In [14]:
# Your code here

In [15]:
# Your code here

Есть ли корреляция между частотами преступления и числа городов?
А если посмотреть на города с населением больше 1.5 млн?
Расммотрите их отдельно ниже

In [16]:
# Your code here

In [17]:
# Your code here

Какой вывод можно сделать? Если тренды для преступности? Можно ли это достоверно утверждать?

## Проверка на нормальность частот преступлений

Посмотрим на распределение частот преступлений в различных городах. Вряд ли стоит ожидать, что распределение окажется нормальным, но ради эксперимента, можно попробовать.

In [18]:
# Your code here

In [19]:
# Your code here

Попробуйте также посмотреть по различным преступлениям.

Проведите дополнительный анализ, визуализируйте различные признаки и зависимости между ними.